<div id="index-banner" class="parallax-container">
    <div id_"background" class="parallax">
      <%= image_tag("background1.jpg") %>
    </div>
    <div class="section no-pad-bot container">
      <br><br>
      <h1 class="header center amber-text text-accent-4">Make your travel even more incredible</h1>
      <div class="row center">
        <h5 class="header-subtitle col s12 white-text">Discover the city and win wonderful prizes!</h5>
      </div>
      <div class="row center">
        <a href="#how_it_works" id="download-button" class="btn-large waves-effect waves-light amber accent-4">Show me how it works</a>
      </div>
      <br><br>
    </div>

</div>

<!--   Servizio   -->

  <div id="how_it_works" class="container">
    <div class="section">
      <div class="col-servizio">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center red-text"><i class="material-icons md-60">map</i></h2>
              <h5 class="center">Discover the city</h5>

              <p align="justify" class="light">Visit the city using our interactive map, following unique routes.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center red-text"><i class="material-icons md-60">place</i></h2>
              <h5 class="center">Accomplish the tasks</h5>

              <p align="justify" class="light">Will you be able to gain all the points completing the tasks related the places you are visiting?</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center red-text"><i class="material-icons md-60">local_activity</i></h2>
              <h5 class="center">Win prizes</h5>

              <p align="justify" class="light">Make your trip inforgettable with the fantastic prizes you will receive!</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>

<!--   Registrazione   -->

  <div id="register" class="parallax-container">
    <div class="parallax">
      <%= image_tag("background2.jpg") %>
    </div>
    <div class="section no-pad-bot container">
      <div class="row center">
        <h3 class="header col s12 light">Are you ready for a new adventure?</h3>
        <div class="col s12 m6">
          <a href="#" id="download-button" class=" btn-devise btn-large waves-effect waves-light amber accent-4">Yes! Sign me up!</a>
        </div>
        <div class="col s12 m6">
          <a href="#" id="download-button" class="btn-devise btn-large waves-effect waves-light amber accent-4">I'm already registered</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section">

    <div class="row container">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>


  <div class="parallax-container">
    <div class="parallax">
      <%= image_tag("background3.jpg") %>
    </div>
    <div class="section no-pad-bot container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>