<footer class="white page-footer">
  <div class="red-text text-red footer-copyright">
    <div class="container">
    © 2016 100Madrid
    <%= link_to "About", about_path, class: "red-text text-red right" %>
    </div>
  </div>
</footer>