<footer class="light-blue page-footer">
  <div class="brown-text text-lighten-5 footer-copyright">
    <div class="container">
    © 2016 100Madrid
    <%= link_to "About", about_path, class: "brown-text text-lighten-5 right" %>
    </div>
  </div>
</footer>